<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="">

    <head th:replace="~{base :: head}">
    </head>

    <body>
        <div th:replace="~{base::logo}"></div>

        <div class="container">
            <div th:replace="~{base::titulo('Produtos Personalizados')}"> </div>

            <nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
                <div class="navbar-nav">
                    <a th:classappend="${status} == null ? 'active'" class="nav-item nav-link" th:href="@{/usuario/produto}">Todos</a>
                    <a th:classappend="${status} == 'musculacao' ? 'active'" class="nav-item nav-link" th:href="@{/usuario/produto/musculacao}">Musculação</a>
                    <a th:classappend="${status} == 'crossTraining' ? 'active'" class="nav-item nav-link" th:href="@{/usuario/produto/crossTraining}">CrossTraining</a>
                    <a th:classappend="${status} == 'cardio' ? 'active'" class="nav-item nav-link" th:href="@{/usuario/produto/cardio}">Cardio</a>
                </div>
                <a href="/produto/formulario"><button class="btn btn-outline-secondary my-2 my-sm-0 ">Novo</button></a>
            </nav>

            <div class="card mb-3" th:each="produto : ${produtos}"><!--Faz o for each no produto-->

                <th:block th:switch = "${produto.status.name()}">
                    <div th:case="'MUSCULACAO'" class="card-header bg-info" th:text="${produto.nomeProduto}">Nome do produto</div>
                    <div th:case="'CROSSTRAINING'" class="card-header bg-light" th:text="${produto.nomeProduto}"  >Nome do produto</div>
                    <div th:case="'CARDIO'" class="card-header text-bg-dark x" th:text="${produto.nomeProduto}"  >Nome do produto</div>
                </th:block>

                <div class="card-body">
                   <div class="row"> <!-- ROW define linhas pras DIVs incluídas -->
                        <div class="col-12 col-sm-8 mb-3"> <!--col-sm muda conforme o tamanho do disp./  espacamento entre itens MB-->
                            <div class="row">
                                <div class="col-md-5">Valor: <span th:if="${produto.valorNegociado} != null" th:text="${'£ ' + #numbers.formatDecimal(produto.valorNegociado, 3, 'POINT', 2, 'COMMA')}">200,99</span></div>
                                <div class="col-md-7">Data da entrega: <span th:text="${#temporals.format(produto.dataDaEntrega, 'dd/MM/yyyy')}">10/02/2020</span></div>
                            </div>

                            <div>Link:</div>
                            <div><a class="form-control" th:href="${produto.urlProduto}" href="">Acessar produto</a></div>

                            <div>Descrição:</div>
                            <div>
                                <textarea class="form-control" th:text="${produto.descricao}">descrição do produto</textarea>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div>
                                <img class="img-thumbnail" th:src="${produto.urlImagem}" src=""/>
                            </div>
                        </div>
                   </div>
                </div>
                </div>
            </div>
    </body>
</html>