<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="">

    <head th:replace="~{base :: head}"></head>
    <body onload="onLoad()">
        <div th:replace="~{base::logo}"></div>

        <div class="container" id="solicitacoes">
            <div th:replace="~{base::titulo('Produtos Personalizados')}"> </div>

                <div class="card-body">
                   <div class="row"> <!-- ROW define linhas pras DIVs incluídas -->
                        <div class="col-12 col-sm-8 mb-3"> <!--col-sm muda conforme o tamanho do disp./  espacamento entre itens MB-->
                            <div class="row">
                                <div class="col-md-5">Valor: <span th:if="${produto.valorNegociado} != null" th:text="${'£ ' + #numbers.formatDecimal(produto.valorNegociado, 3, 'POINT', 2, 'COMMA')}">200,99</span></div>
                                <div class="col-md-7">Data da entrega: <span th:text="${#temporals.format(produto.dataDaEntrega, 'dd/MM/yyyy')}">10/02/2020</span></div>
                            </div>

                            <div>Link:</div>
                            <div><a class="form-control" th:href="${produto.urlProduto}" href="">Acessar produto</a></div>

                            <div>Descrição:</div>
                            <div>
                                <textarea class="form-control" th:text="${produto.descricao}">descrição do produto</textarea>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div>
                                <img class="img-thumbnail" th:src="${produto.urlImagem}" src=""/>
                            </div>
                        </div>
                   </div>
                </div>
            </div>
        </div>
        <script>
            function onLoad(){
                var app = new Vue({
                    el : '#solicitacoes',
                    data : {
                        produtos:[]
                    }
                });
            }
        </script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </body>
</html>